# .gitignore standard file for ICS Software Engineering Meteor Development.

# Ignore IntelliJ Project files.
*.iml
.idea/

# If on a Mac, ignore DS_Store.
.DS_Store

# Don't commit the production settings file.
settings.production.json

# Don't commit the development settings file.
settings.development.json

# Don't commit the galaxy settings file.
settings.json

# Build node_modules locally.
node_modules/
